@model PuntoDeVentaAlm.Models.TBL_ALMACENES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TBL_ALMACENES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_ALMACEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_ALMACEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLONIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLONIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REGISTRO_ALMACEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO_ALMACEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USER_ASP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USER_ASP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ALMACEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
